html, body{
  height: 100vh;
}
body{
  background-image: url(../images/gr-stocks-1ytUKz_Ms8U-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
nav{
  background-color: #ffffff;
}
a.color{
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-size: 20px;
}
button.navbar-toggler.btn.btn-light{
  background-color: #D3D3D3;
}
a.nav-link.color{
  color: #000000;
}
a.nav-link.color:hover{
  color:#d3d3d3;
}
div.content{
  padding: 0;
}
h1.card-title.h1ThankYou{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
}
div.card-body{
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 0;
  background-color: #000000;
  min-height: 150px;
}
div.myRow{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.card-footer{
  height: 56px;
  background-color: #ffffff;
}
p.copyrightOther{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #000000;
}
/* @media (max-width: 856px){
    div.padding1{
      padding: 50px 0;
    }
    div.padding2{
      padding: 50px 0;
    }
    h1.card-title-bio{
      padding: 10px 0;
    }
    p.card-text-bio{
      padding: 30px 0;
    }
  }
  @media (max-width: 575px){
    div.div1footer{
      text-align: center;
    }
    div.div2footer{
      text-align: center;
      margin-top: 10px;
    }
    div.wrapper{
      padding: 0;
    }
    div.first{
      height: auto;
    }
    div.text{
      padding: 0;
    }
    div.col-sm-6.padding1{
      padding: 0;
    }
    img.photo{
      padding: 12px 0 0;
    }
    div.col-sm-6.padding2{
      padding-bottom: 0;
    }
    div.card-header{
      padding: 50px 0 50px 20px;
    }
    div.container-fluid.thankYou{
      padding: 0;
    }
  }
@media (max-width: 300px){
  h1.card-title.h1ThankYou{
    font-size: 35px;
  }
} */








/* Thank You Page */

/* div.wrapper.thankYouPage{
  padding: 0;
}
nav{
  background-color: #ffffff;
}

a{
  font-family: 'Lato', sans-serif;
}
a.color{
  font-size: 20px;
  color:#000000;
}
a.color:hover{
  color:#d3d3d3;
}
a.nav-link.active.color{
  color: #000000;
}
a.nav-link.active.color:hover{
  color:#d3d3d3;
}
div.card{
  border: 0;
}
div.card-body.thankYouBody{
  width: 100%;
  height:545px;
  text-align: center;
  color: #ffffff;
  background-image: url(../images/gr-stocks-1ytUKz_Ms8U-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
h1.card-title.h1ThankYou{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align:middle;
  display:table-cell;
}
div.container-fluid.thankYou{
  width: 100%;
  background-color: #000000;
  min-height: 150px;
  text-align:center;
  display:table;
}
div.card-footer{
  height: 56px;
  background-color: #ffffff;
}
p.copyrightOther{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #000000;
}
@media (max-width: 856px){
    div.padding1{
      padding: 50px 0;
    }
    div.padding2{
      padding: 50px 0;
    }
    h1.card-title-bio{
      padding: 10px 0;
    }
    p.card-text-bio{
      padding: 30px 0;
    }
  }
  @media (max-width: 575px){
    div.div1footer{
      text-align: center;
    }
    div.div2footer{
      text-align: center;
      margin-top: 10px;
    }
    div.wrapper{
      padding: 0;
    }
    div.first{
      height: auto;
    }
    div.text{
      padding: 0;
    }
    div.col-sm-6.padding1{
      padding: 0;
    }
    img.photo{
      padding: 12px 0 0;
    }
    div.col-sm-6.padding2{
      padding-bottom: 0;
    }
    div.card-header{
      padding: 50px 0 50px 20px;
    }
    div.container-fluid.thankYou{
      padding: 0;
    }
  }
@media (max-width: 300px){
  h1.card-title.h1ThankYou{
    font-size: 35px;
  }
} */
